@use '~/assets/styles/colors';
@use '~/assets/styles/vars';

#timeline {
  position: relative;
  margin-top: 3rem;

  &:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    height: 100%;
    width: 0px;
    opacity: 0.5;
    transform: translateX(-50%);
    z-index: -1;
    border: 1px dashed #3c3e49;
  }

  article {
    max-width: calc(50% - 6rem);
    position: relative;
    box-sizing: border-box;
    margin-top: 6rem;
    margin-bottom: 6rem;

    .card {
      border-radius: 4px;
      margin-top: 12px;

      p {
        margin-bottom: 0;
        color: colors.$cloudWhite;
      }
    }

    .date {
      position: absolute;
      left: calc(100% + 64px);
      width: 300px;
      padding-left: 1.5rem;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      align-items: center;
      font-size: 2rem;
      font-weight: 600;
      color: colors.$textGray;
      font-family: vars.$fontFamilyBold;
      letter-spacing: -0.02em;
      margin-left: 2rem;

      &:before {
        content: '';
        width: 10px;
        height: 10px;
        border-radius: 100px;
        background: colors.$cta;
        position: absolute;
        left: -9px;
        margin-right: 10px;
        border: 4px solid #020617;
      }
    }

    .date-extended {
      display: block;
      font-size: 1.15rem;
      font-weight: 500;
      color: colors.$textGray;
    }

    &.right {
      margin-left: calc(50% + 64px);
        .date {
            left: -6rem;
            text-indent: -7.8rem;
        }
    }
  }

  .technologies:last-child {
    margin-bottom: 0;
  }
}

.explanation {
  color: colors.$textGray;
  font-weight: 500;
  margin-top: 0rem;
  position: relative;
  z-index: 2;
  font-family: vars.$fontFamilyRegular;
  font-size: 1.75rem;
  line-height: 2.5rem;
}


@media (max-width: 1024px) {
    #timeline article .date {
      left: calc(100% + 1rem) !important;
      transform: translateY(0) rotate(90deg) !important;
      font-size: 14px !important;
      padding-left: 1.5rem !important;
      text-indent: 0 !important;
      width: 60px !important;
      box-sizing: border-box;
     margin-left: 0;

    }
  
    #timeline article {
      width: 100% !important;
      max-width: calc(90% - 1rem) !important;
      margin-top: 1rem;
      margin-bottom: 3rem;
    }
  
    #timeline:after {
      transform: translate(0px, 0px) !important;
      left: 90%;
    }
  
    #timeline article.right {
      margin-left: 0 !important;
    }
  
    #timeline article .date:before {
        left: 31px;
        top: 16px;
    }
  
    p {
      font-size: 1.25rem;
      line-height: 1.75rem;
    }
  
    .education {
      height: 100px;
  
      h2 {
        font-size: 2.5rem;
        line-height: 3rem;
        letter-spacing: -0.02em;
      }
    }
  }
  
  @media only screen and (min-device-width: 300px) and (max-device-width: 768px) {
    .date-extended {
      font-size: 0.8rem !important;
      line-height: 1rem;
    }
    .card {
      strong {
        font-size: 1rem;
        line-height: 1.2rem;
      }
      span {
        font-size: 0.8rem;
        line-height: 1rem;
      }
      .technologies > span {
        padding: 0;
        width: 20px;
        height: 22px;
        svg {
          width: 20px;
          height: 20px;
        }
      }
    }
  }