$darkBlue: #0c0f20;
$modalBg: #0c1439;
$navyBlue: #020617;
$lightBlue: #2FDE58;
$ctaBlue: #2FDE58;
$blueSky: #99c2ff;
$cloudWhite: #cce0ff;
$white: #ffffff;
$textGray: #5b648a;

// $lightBlue: #0e2eb6;
// $lightBlue: #212c5b;
