$darkBlue: #0c0f20;
$modalBg: #0c1439;
$navyBlue: #020617;
$cta: #2bcc69;
$ctaHover: #60f285;
$greenShadow: #059329;
$blueSky: #959fbb;
$cloudWhite: #959fbb;
$white: #ffffff;
$textGray: #959fbb;
$grayShade: #7e80a0;
$error: #b80000;

// $cta: #0e2eb6;
// $cta: #212c5b;
