@font-face {
  font-family: 'GT Walsheim Trial Cn U Bd';
  src:
    url('/fonts/GTWalsheimTrial-CnUBd.woff2') format('woff2'),
    url('/fonts/GTWalsheimTrial-CnUBd.woff') format('woff'),
    url('/fonts/GTWalsheimTrial-CnUBd.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT Walsheim Trial Cn Md';
  src:
    url('/fonts/GTWalsheimTrial-CnMd.woff2') format('woff2'),
    url('/fonts/GTWalsheimTrial-CnMd.woff') format('woff'),
    url('/fonts/GTWalsheimTrial-CnMd.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT Walsheim Trial Cn Rg';
  src:
    url('/fonts/GTWalsheimTrial-CnRg.woff2') format('woff2'),
    url('/fonts/GTWalsheimTrial-CnRg.woff') format('woff'),
    url('/fonts/GTWalsheimTrial-CnRg.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT Walsheim Trial U Lt';
  src:
    url('/fonts/GTWalsheimTrial-ULt.woff2') format('woff2'),
    url('/fonts/GTWalsheimTrial-ULt.woff') format('woff'),
    url('/fonts/GTWalsheimTrial-ULt.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT Walsheim Trial Cn U Lt';
  src:
    url('/fonts/GTWalsheimTrial-CnULt.woff2') format('woff2'),
    url('/fonts/GTWalsheimTrial-CnULt.woff') format('woff'),
    url('/fonts/GTWalsheimTrial-CnULt.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT Walsheim Trial Cn Bd';
  src:
    url('/fonts/GTWalsheimTrial-CnBd.woff2') format('woff2'),
    url('/fonts/GTWalsheimTrial-CnBd.woff') format('woff'),
    url('/fonts/GTWalsheimTrial-CnBd.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT Walsheim Trial Cn Lt';
  src:
    url('/fonts/GTWalsheimTrial-CnLt.woff2') format('woff2'),
    url('/fonts/GTWalsheimTrial-CnLt.woff') format('woff'),
    url('/fonts/GTWalsheimTrial-CnLt.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT Walsheim Trial';
  src:
    url('/fonts/GTWalsheimTrial-Rg.woff2') format('woff2'),
    url('/fonts/GTWalsheimTrial-Rg.woff') format('woff'),
    url('/fonts/GTWalsheimTrial-Rg.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT Walsheim Trial Cn Th';
  src:
    url('/fonts/GTWalsheimTrial-CnTh.woff2') format('woff2'),
    url('/fonts/GTWalsheimTrial-CnTh.woff') format('woff'),
    url('/fonts/GTWalsheimTrial-CnTh.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT Walsheim Trial Cn Bl';
  src:
    url('/fonts/GTWalsheimTrial-CnBl.woff2') format('woff2'),
    url('/fonts/GTWalsheimTrial-CnBl.woff') format('woff'),
    url('/fonts/GTWalsheimTrial-CnBl.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT Walsheim Trial Th';
  src:
    url('/fonts/GTWalsheimTrial-Th.woff2') format('woff2'),
    url('/fonts/GTWalsheimTrial-Th.woff') format('woff'),
    url('/fonts/GTWalsheimTrial-Th.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT Walsheim Trial Lt';
  src:
    url('/fonts/GTWalsheimTrial-Lt.woff2') format('woff2'),
    url('/fonts/GTWalsheimTrial-Lt.woff') format('woff'),
    url('/fonts/GTWalsheimTrial-Lt.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT Walsheim Trial Cn U Lt Ob';
  src:
    url('/fonts/GTWalsheimTrial-CnULtOb.woff2') format('woff2'),
    url('/fonts/GTWalsheimTrial-CnULtOb.woff') format('woff'),
    url('/fonts/GTWalsheimTrial-CnULtOb.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'GT Walsheim Trial Cn Lt Ob';
  src:
    url('/fonts/GTWalsheimTrial-CnLtOb.woff2') format('woff2'),
    url('/fonts/GTWalsheimTrial-CnLtOb.woff') format('woff'),
    url('/fonts/GTWalsheimTrial-CnLtOb.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'GT Walsheim Trial Cn U Bd Ob';
  src:
    url('/fonts/GTWalsheimTrial-CnUBdOb.woff2') format('woff2'),
    url('/fonts/GTWalsheimTrial-CnUBdOb.woff') format('woff'),
    url('/fonts/GTWalsheimTrial-CnUBdOb.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'GT Walsheim Trial Md Ob';
  src:
    url('/fonts/GTWalsheimTrial-MdOb.woff2') format('woff2'),
    url('/fonts/GTWalsheimTrial-MdOb.woff') format('woff'),
    url('/fonts/GTWalsheimTrial-MdOb.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'GT Walsheim Trial Cn Th Ob';
  src:
    url('/fonts/GTWalsheimTrial-CnThOb.woff2') format('woff2'),
    url('/fonts/GTWalsheimTrial-CnThOb.woff') format('woff'),
    url('/fonts/GTWalsheimTrial-CnThOb.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'GT Walsheim Trial Cn Md Ob';
  src:
    url('/fonts/GTWalsheimTrial-CnMdOb.woff2') format('woff2'),
    url('/fonts/GTWalsheimTrial-CnMdOb.woff') format('woff'),
    url('/fonts/GTWalsheimTrial-CnMdOb.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'GT Walsheim Trial Bd Ob';
  src:
    url('/fonts/GTWalsheimTrial-BdOb.woff2') format('woff2'),
    url('/fonts/GTWalsheimTrial-BdOb.woff') format('woff'),
    url('/fonts/GTWalsheimTrial-BdOb.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'GT Walsheim Trial Md';
  src:
    url('/fonts/GTWalsheimTrial-Md.woff2') format('woff2'),
    url('/fonts/GTWalsheimTrial-Md.woff') format('woff'),
    url('/fonts/GTWalsheimTrial-Md.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT Walsheim Trial Rg Ob';
  src:
    url('/fonts/GTWalsheimTrial-RgOb.woff2') format('woff2'),
    url('/fonts/GTWalsheimTrial-RgOb.woff') format('woff'),
    url('/fonts/GTWalsheimTrial-RgOb.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'GT Walsheim Trial Lt Ob';
  src:
    url('/fonts/GTWalsheimTrial-LtOb.woff2') format('woff2'),
    url('/fonts/GTWalsheimTrial-LtOb.woff') format('woff'),
    url('/fonts/GTWalsheimTrial-LtOb.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'GT Walsheim Trial Cn Rg Ob';
  src:
    url('/fonts/GTWalsheimTrial-CnRgOb.woff2') format('woff2'),
    url('/fonts/GTWalsheimTrial-CnRgOb.woff') format('woff'),
    url('/fonts/GTWalsheimTrial-CnRgOb.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'GT Walsheim Trial U Lt Ob';
  src:
    url('/fonts/GTWalsheimTrial-ULtOb.woff2') format('woff2'),
    url('/fonts/GTWalsheimTrial-ULtOb.woff') format('woff'),
    url('/fonts/GTWalsheimTrial-ULtOb.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'GT Walsheim Trial Bl';
  src:
    url('/fonts/GTWalsheimTrial-Bl.woff2') format('woff2'),
    url('/fonts/GTWalsheimTrial-Bl.woff') format('woff'),
    url('/fonts/GTWalsheimTrial-Bl.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT Walsheim Trial Th Ob';
  src:
    url('/fonts/GTWalsheimTrial-ThOb.woff2') format('woff2'),
    url('/fonts/GTWalsheimTrial-ThOb.woff') format('woff'),
    url('/fonts/GTWalsheimTrial-ThOb.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'GT Walsheim Trial Bd';
  src:
    url('/fonts/GTWalsheimTrial-Bd.woff2') format('woff2'),
    url('/fonts/GTWalsheimTrial-Bd.woff') format('woff'),
    url('/fonts/GTWalsheimTrial-Bd.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT Walsheim Trial Cn Bd Ob';
  src:
    url('/fonts/GTWalsheimTrial-CnBdOb.woff2') format('woff2'),
    url('/fonts/GTWalsheimTrial-CnBdOb.woff') format('woff'),
    url('/fonts/GTWalsheimTrial-CnBdOb.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'GT Walsheim Trial Cn Bl Ob';
  src:
    url('/fonts/GTWalsheimTrial-CnBlOb.woff2') format('woff2'),
    url('/fonts/GTWalsheimTrial-CnBlOb.woff') format('woff'),
    url('/fonts/GTWalsheimTrial-CnBlOb.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'GT Walsheim Trial U Bd';
  src:
    url('/fonts/GTWalsheimTrial-UBd.woff2') format('woff2'),
    url('/fonts/GTWalsheimTrial-UBd.woff') format('woff'),
    url('/fonts/GTWalsheimTrial-UBd.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
