$borderRadius: 0px;
$cardBorderRadius: 24px;
$fontFamilyInter: "Inter";
$fontFamily: 'GT Walsheim Trial';
$fontFamilyUltraLight: 'GT Walsheim Trial U Lt';
$fontFamilyUltraLightItalic: 'GT Walsheim Trial U Lt Ob';
$fontFamilyUltraBold: 'GT Walsheim Trial U Bd';
$fontFamilyThick: 'GT Walsheim Trial Th';
$fontFamilyThickItalic: 'GT Walsheim Trial Th Ob';
$fontFamilyLight: 'GT Walsheim Trial Lt';
$fontFamilyLightItalic: 'GT Walsheim Trial Lt Ob';
$fontFamilyRegular: 'GT Walsheim Trial Md';
$fontFamilyRegularItalic: 'GT Walsheim Trial Rg Ob';
$fontFamilyBold: 'GT Walsheim Trial Bd';
$fontFamilyCondensedBold: 'GT Walsheim Trial Cn Bd';
$fontFamilyCondensedLight: 'GT Walsheim Trial Cn Lt';
$fontFamilyCondensedLightItalic: 'GT Walsheim Trial Cn Lt Ob';
$fontFamilyCondensedRegular: 'GT Walsheim Trial Cn Rg';
$fontFamilyCondensedRegularItalic: 'GT Walsheim Trial Cn Rg Ob';
$fontFamilyCondensedUltraLight: 'GT Walsheim Trial Cn U Lt';
$fontFamilyCondensedUltraLightItalic: 'GT Walsheim Trial Cn U Lt Ob';
$fontFamilyCondensedUltraBold: 'GT Walsheim Trial Cn U Bd Ob';
